@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Shantell+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Shantell Sans, sans-serif;
}


/* hero-image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#cover-text {
    color: white;
    font-size: 130%;
    text-transform: uppercase;

    width: 300px;

    background-color: rgba(241, 109, 107, .3);

    top: 200px;
    left: 60px;
    position: absolute;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

}

/* header */
#logo {
    font-family: Chewy, sans-serif;
    float: left;
    color: blue;
    line-height: 50px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;   
    line-height: 50px; 
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid red;
}