@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Shantell+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Shantell Sans, sans-serif;
} 

/* header */

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    background-color: rgba(204, 153, 102, .8);
 
}

#logo {
    font-family: Shantell Sans, sans-serif;
    float: left;
    color: black;
    line-height: 50px;
    font-size: 250%;
    margin-left: 10px;

}

#logo:hover {
    color: rgb(60, 102, 3);
}



#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    line-height: 50px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: rgb(60, 102, 3);
}

/* hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#cover-text {
    color: white;
    font-size: 130%;
    text-transform: uppercase;

    width: 25%;

    background-color: rgba(0, 0, 0, .6);

    top: 20%;
    left: 15%;
    position: absolute;

}

#text-itself {
    padding: 20px;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

}


/* about us section */

#central-section {
    background-color: rgba(222, 220, 225, 0.4);
    line-height: 200%;
    
}

#about-us {
    text-align: center;
    font-size: 200%;
    color: rgb(60, 102, 3);
    margin-bottom: 10px;
    padding-top: 20px;
}
#about-us-subtitle {
    text-align: center;
    color: rgb(60, 102, 3);
    margin-bottom: 20px;
    font-size: 125%;
}

#about-us-list {
    font-size: 110%;
    line-height: 50px;
}

/* gallery */

#gallery {
    clear: both;
    line-height: 10px;
    column-count: 4;
    column-gap: 0;

    margin-top: 10px;
}

#gallery-title {
    text-align: center;
    margin-top: 20px;
    font-size: 200%;
    color: rgb(60, 102, 3);
}

#gallery>img {
    width: 100%;
}


/* join scout form */

#form-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#form {
    font-size: 200%;
    color: rgb(60, 102, 3);
}

#form-section>p {
    font-size: 120%;
    width: 90%;
}


#inputs {
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px;
    line-height: 200%;

    color: blue;
}

#c-name-field {
    border: 2px solid;
    padding: 3px 10px;
    margin-bottom: 30px;

}

#p-g-name-field {
    border: 2px solid;
    padding: 3px 10px;
    margin-bottom: 30px;
}

#email-field {
    border: 2px solid;
    padding: 3px 10px;
}

#button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#button:hover {
    color: black;
}

/* footer */
footer {
    text-align: center;
    background-color: rgba(225, 220, 225, .7);
    line-height: 200%;
}

#contact {
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 20px;

    color: rgb(60, 102, 3);
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 0%;
    padding: 5%;
    color: red;
}

.social-media i:hover {
    color: black;
}

/* Media queries */

/* From 1450 down */
@media screen and (max-width: 1450px) {

    #cover-text {
        color: white;
        font-size: 100%;
    
        width: 30%;
    
    
        top: 20%;
        left: 15%;
        right: 15%;
        position: absolute;
    }
}

/* From 850px down */
 @media screen and (max-width: 850px) {
    
    #menu {
        clear: left;
        clear: right;
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 25px;
        letter-spacing: normal;
    }
    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 7px;
        line-height: 50px;
    }



    #gallery {
        clear: both;
        line-height: 10px;
        column-count: 3;
        column-gap: 0;
    
        margin-top: 10px;
    }
    

 }

/* from 480 down */

 @media screen and (max-width: 660px) {
    
    #menu {
        text-align: center;
        clear: left;
        float: left;
        margin-bottom: 20px;
        margin-left: 30px;
        line-height: 25px;
    }

    #gallery {
        clear: both;
        line-height: 10px;
        column-count: 2;
        column-gap: 0;
    
        margin-top: 10px;
    }
    
    #cover-text {
        width: 60%;
    }
 }